coverage/
.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
benchmarks/graphs
testing
node_modules/
testing
test.js
.idea
supervisor.log
tmp/
.sass_cache/
bower_components/

# Layer private key cert
layer-key.pem

# Ignoring build folders
public
views
